@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Neutrals */
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;

  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;

  --color-white: #ffffff;

  --font-sans: "Public Sans", system-ui, sans-serif;

  /* Secondary */
  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;

  /* Other colors */
  --color-purple-soft: #af81ba;
  --color-turquoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navy-grey: #97a0ac;
  --color-army-green: #779161;
  --color-gold: #cab361;
  --color-orange: #be6c49;

  /* Line Heights */
  --line-height-preset-1: 120%;
  --line-height-preset-2: 120%;
  --line-height-preset-3: 150%;
  --line-height-preset-4: 150%;
  --line-height-preset-5: 150%;

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-gray-300);
    background-color: var(--color-beige-100);
  }
}
